<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="default.html :: headerfiles"></th:block>
</head>

<body>
	<nav>
		<th:block th:insert="default.html :: navbar"></th:block>
	</nav>
	<div class="container">

		<div class="jumbotron">

			<h3>Problème technique , veuillez retourner sur la page d'acceuil</h3>
			<p th:text="${erreurVue}"></p>
			<a th:href="@{'/show?reinit=true'}">Retour à l'acceuil</a>

		</div>

	</div>

	<div>
		<th:block th:insert="default.html :: scripts">
	</div>
</body>

</html>