<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="default.html :: headerfiles"></th:block>
	<style type="text/css">
		#etoile {
			width: 40px;
			height: 30px;
		}
		
		.well {color : #F99217 }
	
	</style>
</head>

<body>
	<nav>
		<th:block th:insert="default.html :: navbar"></th:block>
	</nav>
	<div class="container">

		<h3>Mon Compte</h3>
		<div class="well">
		<ul>
			<li th:text="${'Identitifant : '+userCompte.email}"></li>
			<li th:text="${'Pseudo : '+ userCompte.pseudo}"></li>

		</ul>
		</div>
		<table class="table table-hover table-bordered">
			<tr>
				<th>Etoiles</th>
				<th>Nom</th>
				<th>code</th>
				<th>adresse</th>
				<th>ville</th>
			</tr>
			<tr th:each="fav : ${userCompte.favoris}">
				<td><img id="etoile" th:if="${fav.restaurant.moyenne>0}" th:each="i : ${#numbers.sequence( 1, fav.restaurant.moyenne)}"
						th:src="@{/images/etoile.jpg}" />
				<td><a th:href="@{'/showDetail/'+${fav.restaurant.recordid}}" th:text="${fav.restaurant.nom_restaurant}"></a></td>
				<td th:text="${fav.restaurant.code}"></td>
				<td th:text="${fav.restaurant.adresse}"></td>
				<td th:text="${fav.restaurant.ville}"></td>
			</tr>
		</table>
			<a th:href="@{'/show?reinit=true'}">Retour à l'acceuil</a>

	</div>
	<div>
		<th:block th:insert="default.html :: scripts">
	</div>
</body>

</html>