<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="default.html :: headerfiles"></th:block>
	<style type="text/css">
		h3 {
			text-align: center;
			font-weight: bold;
			color: #F1B992
		}

		th {
			background-color: #F1B992;
			color: white;
		}
		
		#etoile{width: 40px;
	        height: 30px;}
	</style>
</head>

<body>
	<nav>
		<th:block th:insert="default.html :: navbar"></th:block>
	</nav>
	<div class="container">


		<h3>RESTAURANTS </h3>
		<table class="table table-hover table-bordered">
			<tr>
				<th>Etoiles</th>
				<th>Nom</th>
				<th>code</th>
				<th>adresse</th>
				<th>ville</th>
			</tr>
			<tr th:each="art : ${catalog}">
				<td><img id="etoile" th:if="${art.moyenne>0}" th:each="i : ${#numbers.sequence( 1, art.moyenne)}" th:src="@{/images/etoile.jpg}"/>
				<td><a th:href="@{'/showDetail/'+${art.recordid}}" th:text="${art.nom_restaurant}"></a></td>
				<td th:text="${art.code}"></td>
				<td th:text="${art.adresse}"></td>
				<td th:text="${art.ville}"></td>
			</tr>
		</table>
	</div>
	<div>
		<th:block th:insert="default.html :: scripts">
	</div>
</body>

</html>