<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="default.html :: headerfiles"></th:block>
</head>

<body>
	<nav>
		<th:block th:insert="default.html :: navbar"></th:block>
	</nav>
	<div class="container">
		<h3>----- CATALOGUE -----</h3>
		<table>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>code</th>
				<th>adresse</th>
				<th>ville</th>
			</tr>
			<tr th:each="art : ${catalog}">
				<td><a th:href="@{'/showJson/'+${art.recordid}}" th:text="${art.recordid}"></a></td>
				<td id="artNom" th:text="${art.nom_restaurant}"></td>
				<td th:text="${art.code}"></td>
				<td th:text="${art.adresse}"></td>
				<td th:text="${art.ville}"></td>
			</tr>
		</table>
	</div>
	<div>
		<th:block th:insert="default.html :: scripts">
	</div>
</body>

</html>